body, html{
    margin: 0;
    height: 100%;
}
#root{
    height: auto;
}
.main-container{
    display: flex;
    flex-direction: row;
    min-height: 1000px;
}
.single-block{
    position: relative;
}
.draggable_area{
    flex: 1 1 20%;
    background-color: #efefef;
    padding: 3px 5px;
}
.dropable_area{
    flex: 1 1 80%;
    background-color: lightgray;
}
.card{
    width:200px;
    height: 80px;
    background-color: #fff;
    margin: 20px auto;
    padding: 10px;
}
.content-cart {
    width: 80%;
    min-height: 100%;
    margin: 0px auto;
    background-color: #fff;
    position: relative;
}
.content-cart .single-block .drabbing-icon{
    position: absolute;
    left: -22px;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
}
.content-cart .single-block .drabbing-icon .grab{
    cursor: -webkit-grab;
    font-size: 19px;
}
.content-cart .single-block .drabbing-icon .grabbing{
    cursor: -webkit-grabbing;
}
.content-cart .single-block:hover .drabbing-icon{
    opacity: 1;
    transition: 0.3s opacity;
}
.single-block .upper-area, .single-block .bottom-area {
    position: absolute;
    height: 10px;
    left: 0;
    right: 0;
    z-index: 1;
}
.single-block .bottom-area {
    bottom:0;
}
.single-block .top-area {
    top:0;
}
.draggable_area p{
    width: 200px;
    margin: 10px auto;
}
.placeholder-block{
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.05);
    transition: 0.3s min-height;
    border: 1px dashed lightgrey;
}
/*editorial*/

.cke_top{
    background:transparent!important;
}

.cke_inner{
    background:transparent!important;
}
.cke_editable{
    font-size: 18px!important;
}
.cke_toolbar_separator{
    width: 0px!important;
}
.cke_toolgroup a.cke_button:last-child:after, .cke_toolgroup a.cke_button.cke_button_disabled:hover:last-child:after{
    border-right: none!important;
}
.cke_combo:after{
    border-right: none!important;
}
/*editorial*/

/* Fonts --- START */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Fonts --- END */

body{
    font-family: 'Montserrat', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.normal-text-prop{
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

}
.lh-183{
    line-height: 1.83!important;
}
.lh-05{
    line-height: 0.5!important;
}
/*fontfamilies*/

/*helpers*/
.space-between-justify{
    justify-content: space-between!important;
}

/*font-weights*/
.fw-100{
    font-weight: 100!important;
}

.fw-200{
    font-weight: 200!important;
}

.fw-300{
    font-weight: 300!important;
}

.fw-400{
    font-weight: 400!important;
}

.fw-500{
    font-weight: 500!important;
}

.fw-600{
    font-weight: 600!important;
}

.fw-700{
    font-weight: 700!important;
}

.fw-800{
    font-weight: 800!important;
}

.fw-900{
    font-weight: 900!important;
}

.fw-n{
    font-weight: normal!important;
}

/*font-weights*/

/* icomoon icons start */

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?9usekj');
    src:  url('../fonts/icomoon.eot?9usekj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9usekj') format('truetype'),
    url('../fonts/icomoon.woff?9usekj') format('woff'),
    url('../fonts/icomoon.svg?9usekj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-award:before {
    content: "\e900";
    color: #fff;
}
.icon-book:before {
    content: "\e901";
    color: #fff;
}
.icon-calendar:before {
    content: "\e902";
    color: #fff;
}
.icon-certificate:before {
    content: "\e903";
    color: #fff;
}
.icon-class:before {
    content: "\e904";
    color: #fff;
}
.icon-diploma:before {
    content: "\e905";
    color: #fff;
}
.icon-fill-1-1:before {
    content: "\e906";
    color: #fff;
}
.icon-fill-1-2:before {
    content: "\e907";
    color: #fff;
}
.icon-fill-1:before {
    content: "\e908";
    color: #fff;
}
.icon-fill-29:before {
    content: "\e909";
    color: #fff;
}
.icon-fill-30:before {
    content: "\e90a";
    color: #fff;
}
.icon-fill-34:before {
    content: "\e90b";
    color: #fff;
}
.icon-fill-40:before {
    content: "\e90c";
    color: #fff;
}
.icon-fill-46:before {
    content: "\e90d";
    color: #fff;
}
.icon-fill-51:before {
    content: "\e90e";
    color: #fff;
}
.icon-fill-58:before {
    content: "\e90f";
    color: #fff;
}
.icon-group-2:before {
    content: "\e910";
    color: #fff;
}
.icon-group-3-1:before {
    content: "\e911";
    color: #fff;
}
.icon-group-3-2:before {
    content: "\e912";
    color: #fff;
}
.icon-group-img:before {
    content: "\e913";
}
.icon-group-3:before {
    content: "\e914";
    color: #d8d8d8;
}
.icon-group-3-copy-1:before {
    content: "\e915";
    color: #d8d8d8;
}
.icon-group-3-copy:before {
    content: "\e916";
    color: #d8d8d8;
}
.icon-group-6-1:before {
    content: "\e917";
    color: #fff;
}
.icon-group-6-2:before {
    content: "\e918";
    color: #fff;
}
.icon-group-6:before {
    content: "\e919";
    color: #fff;
}
.icon-group-7-1:before {
    content: "\e91a";
    color: #fff;
}
.icon-group-7-2:before {
    content: "\e91b";
    color: #fff;
}
.icon-group-7:before {
    content: "\e91c";
    color: #d8d8d8;
}
.icon-group-8:before {
    content: "\e91d";
    color: #fff;
}
.icon-group-9:before {
    content: "\e91e";
    color: #fff;
}
.icon-group-10-1:before {
    content: "\e91f";
}
.icon-group-10:before {
    content: "\e920";
}
.icon-group-12:before {
    content: "\e921";
    color: #fff;
}
.icon-group-13-1:before {
    content: "\e922";
    color: #fff;
}
.icon-group-13:before {
    content: "\e923";
    color: #fff;
}
.icon-group-14:before {
    content: "\e924";
    color: #fff;
}
.icon-group-15:before {
    content: "\e925";
    color: #d8d8d8;
}
.icon-group-16-1:before {
    content: "\e926";
    color: #bfcd31;
}
.icon-group-16:before {
    content: "\e927";
    color: #fff;
}
.icon-group-20:before {
    content: "\e928";
    color: #fff;
}
.icon-group-21:before {
    content: "\e929";
}
.icon-group-22:before {
    content: "\e92a";
    color: #fff;
}
.icon-group-23-1:before {
    content: "\e92b";
    color: #fff;
}
.icon-group-23:before {
    content: "\e92c";
    color: #fff;
}
.icon-group-24:before {
    content: "\e92d";
    color: #fff;
}
.icon-group-28-1:before {
    content: "\e92e";
    color: #fff;
}
.icon-group-28:before {
    content: "\e92f";
    color: #fff;
}
.icon-group-36:before {
    content: "\e930";
    color: #b0bfc7;
}


.icon-group-64:before {
    content: "\e931";
    color: #b0bfc7;
}
.icon-id-card-1:before {
    content: "\e932";
    color: #fff;
}
.icon-id-card-2:before {
    content: "\e933";
    color: #00aeef;
}
.icon-id-card:before {
    content: "\e934";
    color: #fff;
}
.icon-meeting:before {
    content: "\e935";
    color: #fff;
}
.icon-network:before {
    content: "\e936";
}
.icon-open-book:before {
    content: "\e937";
}
.icon-page-1-1:before {
    content: "\e938";
}
.icon-page-1:before {
    content: "\e939";
}
.icon-policy:before {
    content: "\e93a";
    color: #fff;
}
.icon-promotion:before {
    content: "\e93b";
    color: #fff;
}
.icon-promotion-1:before {
    content: "\e93c";
}
.icon-target:before {
    content: "\e93d";
}
.icon-icon-1:before {
    content: "\e93e";
    color: #fff;
}
.icon-I1:before {
    content: "\e940";
    color: #fff;
}
.icon-I2:before {
    content: "\e941";
}
.icon-I3:before {
    content: "\e942";
    color: #fff;
}
.icon-I4:before {
    content: "\e943";
    color: #fff;
}
.icon-I5:before {
    content: "\e944";
}
.icon-I6:before {
    content: "\e945";
    color: #fff;
}
.icon-I7:before {
    content: "\e946";
    color: #fff;
}
.icon-I8:before {
    content: "\e947";
    color: #fff;
}
.icon-all-online-courses:before {
    content: "\e948";
    color: #fff;
}
.icon-answering-the-question:before {
    content: "\e949";
    color: #fff;
}
.icon-build-your-expertise:before {
    content: "\e94a";
    color: #fff;
}
.icon-learn-at-lightning:before {
    content: "\e94b";
}
.icon-save-the-date:before {
    content: "\e94c";
    color: #fff;
}
.icon-theres-a-webinar:before {
    content: "\e94d";
    color: #fff;
}
.svg-img{
    margin-top: 50%!important;
    margin-left: 10%;
}
.svg-img1{
    margin-top: 28%!important;
    margin-left: 10%;
}
.svg-img span{
    font-size: 120px;
}
.svg-img1 span{
    font-size: 120px;
}


/*headings size*/


h1{
    font-size: 50px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 36px;
}

/*headings size*/

/*paragraphs with sizes*/
.pr-12{
    font-size: 12px!important;
}

.pr-14{
    font-size: 14px!important;
}
.pr-16 {
    font-size: 16px!important;
}
.pr-18 {
    font-size: 18px!important;
}
.pr-22 {
    font-size: 22px!important;
}



/*btn in all*/

.btn{
    border-radius: 3px!important;
    color: #fff!important;
    text-transform: uppercase!important;
    font-family: 'Montserrat', sans-serif!important;
}
.btn:hover{
    color: #fff;
}
/*small-button*/

.btn-small{
    font-size: 12px!important;
    padding:7px 25px!important;
}

/*medium-button*/

.btn-medium{
    font-size: 16px!important;
    padding:14px 26px!important;
}


/*large-button*/

.btn-large{

}

/*Green-button*/

.btn-green{
    background-color: #bfcd31!important;
    text-align: center;
}
.btn-green:hover{
    background-color: #9eaa29!important;
    text-align: center;
}

.green{
    color: #bfcd31!important;
}

/*blue-button*/

.btn-blue{
    background-color: #00aeef!important;
}

.btn-blue:hover{
    background-color: #048fc2!important;
}

.blue{
    color: #00aeef!important;
}

.blue-light{
    color: #00b2b3!important;
}

.btn-blue-light{
    background-color: #00b2b3!important;
}

.btn-blue-light:hover{
    background-color: #027e7e!important;
}

.btn-another-blue{
    background-color: #00adf2!important;
}

.another-blue{
    color: #00adf2!important;
}

/*cynide-button*/
.btn-cynide{
    background-color: #04e3e6!important;
}
.btn-cynide:hover{
    background-color: #04b4b6!important;
}

.cynide{
    color: #04e3e6!important;
}

.btn-cynide-dark{
    background-color: #01c2c4!important;
}

.btn-cynide-dark:hover{
    background-color: #03a0a1!important;
}

.cynide-dark{
    color: #01c2c4!important;
}

/*grey-button*/

.btn-grey{
    background-color: #54585a!important;
}
.btn-grey:hover{
    background-color: #2a2b2c!important;
}
.grey{
    color: #54585a!important;
}
.btn-grey-light{
    background-color: #788c96!important;
}
.btn-grey-light:hover{
    background-color: #56656c!important;
}

.grey-light{
    color: #788c96!important;
}

/*white-button*/

.btn-white{
    background-color: #fff!important;
    color: #54585a;
}
.btn-white:hover{
    background-color: #e1dfdf!important;
    color: #54585a;
}
.btn-full-white{
    background-color: #ffffff!important;
    color: #54585a;
}

.unusual-white{
    color: #e9ecef!important;
}
.white{
    color: #fff!important;
}
.full-white{
    color: #ffffff!important;
}

/*transperent-button*/

.btn-transparent{
    background-color: transparent!important;
}


/*orange-button*/
.btn-orgd{
    background-color: #f6af3b;
}
.btn-orgd:hover{
    background-color: #c68d2f;
}
.btn-orange{
    background-color: #f17a28!important;
}
.btn-orange:hover{
    background-color: #c66522!important;
}
.orange{
    color: #f17a28!important;
}
/*light orange button*/
.btn-orange-lighter{
    background-color: #f5a623!important;
}
.btn-orange-lighter:hover{
    background-color: #c0821c!important;
}
.orange-lighter{
    color: #f5a623!important;
}


/*black-button*/

.another-white-fade{
    background-color:#d8d8d8;
}

.btn-black{
    background-color: #54585a!important;
}

.btn-black:hover{
    background-color: #2d2f30!important;
}

.black{
    color: #54585a!important;
}
.btn-black-darker{
    background-color: #252c3f!important;
}
.btn-black-darker:hover{
    background-color: #000000!important;
}
.black-darker{
    color: #252c3f!important;
}
.btn-black-another{
    background-color: #323b52!important;
}
.btn-black-another:hover{
    background-color: #12161e!important;
}
.black-darker-another{
    color: #323b52!important;
}

/*margins*/
.mr-12{
    margin-right: 12.5%!important;
}

.mr-25{
    margin-right: 25%!important;
}


.ml-12{
    margin-left: 12.5%!important;
}

.ml-25{
    margin-left: 25%!important;
}

.mb-12{
    margin-bottom: 12.5%!important;
}

.mb-25{
    margin-bottom: 25%!important;
}


.mt-12{
    margin-top: 12.5%!important;
}

.mt-25{
    margin-top: 25%!important;
}

/*margins*/
/*custom-opacity*/

.opac-6{
    opacity: 0.6;
}
.opac-7{
    opacity: 0.7;
}
.opac-8{
    opacity: 0.8;
}
.opac-9{
    opacity: 0.9;
}
.opac-0{
    opacity: 0;
}
/*custom-opacity*/
.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function:linear;
}
.card-blue-bg{
    background-color: #00b2b3!important;
}
.card-orange-bg{
    background-color: #f5a623!important;
}
.card-orange-bg{
    background-color: #f5a623!important;
}
.card-green-bg{
    background-color: #bfcd31!important;
}
.card-bluedrk-bg{
    background-color: #323b52!important;

}
.wrapper-overlay>div {
    /*background-image: url(../images/overly.png);*/
    position: absolute;
    right: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#standard-header-back .standard-developent-middle-header .header-content ul li::before {
    content: "\2022";
    color: #bfcd31;
    font-weight: 900;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
}
.webinar{
    background-color: #f17a28!important;
    color: #ffffff!important;
}
.proweb{
    background-color: #f17a28!important;
    color: #ffffff!important;
}
.cweb{
    background-color: #f17a28!important;
    color: #ffffff!important;
}
.tweb{
    background-color: #f17a28!important;
    color: #ffffff!important;
}
.education-sub li:hover > a{
    color: #eba025!important;
}
.certification-sub li:hover > a{
    color: #eba025!important;
}

.about-fullsection-back{
    background: url(../../assets/images/blks.jpg)no-repeat;
}
.primary-div{
    margin: 14px 16px;
}
.main-routes{
    width:100%;
}
.leftsection{
    display: flex;
    align-items: flex-end;
}
.leftsection ul{
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: 87vh;
    overflow-y: auto;
    margin-top: 10px;
}
/* width */
.leftsection ul::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.leftsection ul::-webkit-scrollbar-track {
    background: #242f48;
    border-radius: 10px;
}

/* Handle */
.leftsection ul::-webkit-scrollbar-thumb {
    background: #F17A28;
    border-radius: 10px;
}

.leftsection ul li{
    text-decoration: none;
    color: #c9ccd2;
    margin:15px 0;
    cursor: pointer;
}
.leftsection ul li .fa{
    margin-right:5px;
    font-size:12px;
}
.leftsection ul li div:hover{
    color: #e47529;
}
/* Animation --- START */
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation: 0.3s forwards fadeInLeft;
    animation: 0.3s forwards fadeInLeft;
}
/* Animation --- END */
.webinar-equal-back{
    background-image: url(../images/webinarallwebinar.jpg);
}
.about-header-background{
    background: url(../images/aboutimg.jpg);
}
.wrapper-overlay div{
    background-image: url(../images/overly.png);
}
.resources {
    background-image: url(../images/resources.jpg);
}
.bookstore-section{
    background-image: url(../images/bookstore.jpg);
}
.resourse-training{
    background-image: url(../images/resourse-training.jpg);
}
.Knowledge-section{
    background-image: url(../images/knowledge.jpg);
}
.myaccountheader{
    background-image: url(../images/accountbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.myaccount-equal-back {
    background-image: url(../images/ac-last.png);
}




.ql-toolbar.ql-snow{
    background: linear-gradient(to bottom right, #f2f8fb, #ece4e4);
}